@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v49-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v49-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}
:root {
  --color-primary-blue: #2b7fff;
  --color-primary-white: #fff;
  --color-primary-dark-blue: #011c44;
  --color-secondary-light-gray: #747272;
  --color-secondary-dark-gray: #4a4a4a;
  --color-secondary-dark-blue: #011f4a;
}

/* Base*/

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-dark);
  font-weight: 400;
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}



.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.wave {
  background-image: url('../images/background-wave.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.button {
  font-family: inherit;
  color: var(--color-primary-white);
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  font-weight: 600;
  font-size: 18px;
  border-radius: 32px;
  width: 219px;
  height: 53px;
  margin-bottom: 14px;
   cursor: pointer;
  transition-duration: 0.2s;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.button:active {
  transform: scale(0.99) translateY(1px);
}

/*Header*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-icons {
  display: flex;
  gap: 32px;
}

.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.header-link:hover {
  color: var(--color-primary-blue);
}

/*Hero*/

.hero-section {
  background-image: url('../images/hero-section-background.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 123px 0 126px 0;
}

.hero-text {
  margin-left: 106px;
  max-width: 529px;
}

.hero-pretitle {
  font-size: 18px;
  margin-bottom: 16px;
}

.hero-title {
  font-family: 'Play', sans-serif;
  color: var(--color-primary-blue);
  text-transform: capitalize;
  max-width: 529px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
}

.hero-subtitle {
  color: var(--color-secondary-dark);
  max-width: 238px;
  text-align: center;
  line-height: 1.5;
  font-size: 12px;
}

/*transformation*/
.transformation-section {
  padding-bottom: 88px;
}

.transformation-container {
  position: relative;
  display: flex;
  gap: 32px;
}

.transformation-stars {
  position: absolute;
}

.star1 {
  top: 330px;
  right: 291px;
  fill: var(--color-secondary-dark-blue);
}

.star2 {
  top: -19px;
  right: -19px;
  fill: var(--color-primary-blue);
}
.star3 {
  top: 263px;
  right: 14px;
  fill: var(--color-secondary-light-gray);
}
.transformation-images1 {
  border-radius: 50%;
}

.transformation-images2 {
  border-radius: 50%;
  margin-left: 176px;
}

.transformation-title {
  font-family: 'Play', sans-serif;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
}

.transformation-title span {
  color: var(--color-primary-blue);
  text-transform: capitalize;
}

.transformation-text {
  font-size: 22px;
  line-height: 1.7;
  margin-bottom: 40px;
  max-width: 709px;
}

.transformation-no-margin {
  margin-bottom: 0;
}


.bolt {
  font-weight: 700;
  text-transform: capitalize;
}

/*choose*/

.choose-section {
  padding-top: 88px;
  padding-bottom: 48px;
}

.choose-title {
  font-family: 'Play', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  max-width: 442px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.choose-title span {
  color: var(--color-primary-blue);
}

.choose-item {
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
}

.choose-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}

.choose-advantages {
  background-color: var(--color-primary-white);
  border: 1px solid;
  border-radius: 32px;
  width: 316px;
  height: 181px;
  padding: 24px 32px;
}

.choose-icon {
  fill: var(--color-primary-blue);
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

.choose-style {
  margin-bottom: 0;
}

/*Procedure*/

.procedure-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedure-section {
  padding-top: 48px;
  padding-bottom: 48px;
}


.procedure-title {
  font-family: 'Play', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 48px;
}

.procedure-title span {
  color: var(--color-primary-blue);
}

.procedure-list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 16px;
  font-size: 22px;
}

.procedure-card {
  transition: transform 0.3s;
}

.procedure-card:hover {
  transform: scale(1.05);
}

.procedure-card-container {
  position: relative;
  width: 344px;
  height: 456px;
  padding: 32px 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    var(--color-primary-dark-blue) 99.06%
  );
}

.procedure-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.procedure-text {
  width: 100%;
  max-width: 200px;
  text-align: center;
  font-size: 22px;
  line-height: 1.18;
  font-style: normal;
  color: var(--color-primary-white);
  margin: 0 auto;
}


/*Carousel*/
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark-blue);
}

.carousel-button:hover {
  background-color: var(--color-primary-blue);
  fill: var(--color-primary-white);
  border: 1px solid var(--color-primary-white);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/*contacts*/

.contact-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.contact-section {
  padding-top: 48px;
  padding-bottom: 96px;
}

.contact-title {
  font-family: 'Play', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 48px;
}

.contact-title span {
  color: var(--color-primary-blue);
}

.contact-form {
  border-radius: 32px;
  width: 100%;
  max-width: 423px;
  height: 100%;
  max-height: 481px;

  line-height: 1.18;
  padding: 48px 56px;
  background-image: url('../images/modal-background.png');
  background-color: var(--color-primary-dark-blue);
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
  width: 605px;
  height: 481px;
}

.address-copyright {
  font-size: 13px;
}

/*Footer*/

.footer {
  padding: 56px 0px;
  position: relative;
  background-image: url('../images/footer-background.png');
  background-color: var(--color-primary-dark-blue);
}

.footer::after {
  position: absolute;
  content: '';
  background-image: url('../images/decor-footer.png');
  width: 247px;
  height: 152px;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  display: flex;
  gap: 24px;
  fill: var(--color-primary-white);
}

.address-link,
.footer-link {
  color: var(--color-primary-white);
  margin-bottom: 16px;
}
.address-copyright {
  color: var(--color-secondary-light-gray);
  font-size: 13px;
}
/*Modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 1s, visibility 1s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  border-radius: 48px;
  padding: 42px 144px;
  background-image: url('../images/modal-background.png');
  background-color: var(--color-primary-dark-blue);
}

.modal-btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  transform: scale(0.8);
  transition-duration: 0.2s;
}

.modal-btn-close:active {
  transform: scale(0.8) translateY(1px);
}

.icon-x {
  stroke: var(--color-primary-white);
}

/*Form*/

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
}

.form-input {
  color: var(--color-primary-white);
  padding: 18px 33px;
    width: 310px;
  font-size: 13px;
  line-height: 1.15;
   display: block;
  margin: 0 auto;
  height: 52px;
  border: 2px solid var(--color-secondary-light-gray);
  border-radius: 32px;
  background-color: transparent;
}

.form-input:focus {
  background-color: var(--color-secondary-light-gray);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-primary-white);
  font-size: 13px;
  line-height: 1.15;
}

.form-button {
  display: block;
  margin: 0 auto 8px;
  width: 281px;
  height: 53px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  color: var(--color-primary-white);
}

.form-button:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-white);
}

.form-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  line-height: 1.15;
  color: var(--color-primary-white);
  margin-bottom: 40px;
}

.form-subtitle span {
  color: var(--color-primary-blue);
}

.form-subtitle {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  line-height: 1.18;
  max-width: 276px;
  margin: 0 auto 32px auto;
  color: var(--color-primary-white);
}

.form-terms {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 213px;
  color: var(--color-secondary-light-gray);
}

.form-terms-link {
  color: var(--color-secondary-light-gray);
  text-underline-offset: 2px;
  text-decoration: underline;
}




