:root {
  --color-primary-blue: #2b7fff;
  --color-primary-white: #fff;
  --color-primary-dark-blue: #011c44;
  --color-secondary-light-gray: #747272;
  --color-secondary-dark-gray: #4a4a4a;
  --color-secondary-dark-blue: #011f4a;
}

$br-mobile: 480px;
$br-tablet: 768px;
$br-desktop: 1280px;
