.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  transition:
    opacity 1s,
    visibility 1s;
  z-index: 1;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 320px;
  height: 100%;
  max-height: 516px;
  border-radius: 48px;
  padding: 30px 18px;
  background-image: url('../images/modal-background.png');
  background-color: var(--color-primary-dark-blue);

  @media screen and (min-width: $br-tablet) {
    width: 480px;
    padding: 14px 18px;
  }

  @media screen and (min-width: $br-desktop) {
    width: 723px;
    max-height: 681px;
    padding: 42px 144px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/modal-background@2x.png');
  }

  &__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    transform: scale(0.8);
    transition-duration: 0.2s;

    @media screen and (min-width: $br-desktop) {
      top: 50px;
      right: 50px;
      width: 32px;
      height: 32px;
    }

    &:active {
      transform: scale(0.8) translateY(1px);
    }
  }

  &__title {
    font-family: 'Play', sans-serif;
    max-width: 180px;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    line-height: 1.15;
    margin: 0 auto 20px;
    color: var(--color-primary-white);

    @media screen and (min-width: $br-tablet) {
      font-size: 42px;
      max-width: 360px;
      margin: 0 auto 10px;
    }
    @media screen and (min-width: $br-desktop) {
      font-size: 64px;
      max-width: 435px;
      font-weight: 700;
      margin: 0 auto 40px;
    }
  }

  &__subtitle {
    text-align: center;
    line-height: 1.18;
    max-width: 276px;
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto 22px;
    color: var(--color-primary-white);

    @media screen and (min-width: $br-desktop) {
      font-size: 22px;
      margin: 0 auto 32px auto;
    }
  }

  &__form-field {
    margin-bottom: 18px;

    @media screen and (min-width: $br-desktop) {
      margin-bottom: 24px;
    }
  }

  &__form-button {
    display: block;
    margin: 0 auto 8px;
    max-width: 240px;
    padding: 12px;
    width: 100%;
    border-radius: 32px;
    font-weight: 600;
    font-size: 16px;

    @media screen and (min-width: $br-desktop) {
      padding: 16px;
      font-size: 18px;
      max-width: 280px;
    }

    &:hover {
      background-color: var(--color-primary-white);
    }
  }

  &__icon-x {
    stroke: var(--color-primary-white);
  }
}
