.wave {
  background-image: url('../images/background-wave.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 140px;

  @media screen and (min-width: $br-desktop) {
    background-size: 100% 1550px;
  }
}
