.wave {
  background-image: url('../images/background-wave.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  // padding-top: 176px; // padding-bottom transformation-section згідно макету
}
